<html>
<head>
<title>Class | Aeries Mobile</title>	
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" media="screen">
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
</head>
<body>
		<div class="container-fluid">
			<div class= "row-fluid">
				<div class="span12">
					<h2>Class: {{period_name}}</h2>
				</div>
			</div>
			<div class= "row-fluid">
				<table id= "assignments-table" class="table table-bordered table-condensed table-hover">
					<thead>
						<tr>
							<td><strong>Name</strong></td>
							<td><strong>Type</strong></td>
							<td><strong>Score</strong></td>
							<td><strong>Percent</strong></td>
						</tr>
					</thead>
					{% for assignment in assignments %}
						<tr>
							<td><small>{{assignment.name}}</small></td>
							<td><small>{{assignment.type}}</small></td>
							<td><small>{{assignment.score}}/{{assignment.maxscore}}</small></td>
							<td><small>{{assignment.percent}}</small></td>
					{% endfor %}
				</table>
			</div>
			
		</div>

	<script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>