<html>
<head>
	<title>Login | Aeries Mobile</title>
	
    <!-- Bootstrap -->
    <link href="{{ url_for('static',filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet" media="screen">
<style type="text/css"></style><style type="text/css"></style></head>
<body>
		<div class="header">
			<div id="black-bar"></div>
		</div>
		<div class="content-fluid">
			<div class="row-fluid">
				<div id="login-box">					
					<img id= "aeries-logo" src= "{{ url_for('static',filename='img/aeries-logo.png') }}" />
					<p class= "muted"><small>Login to your Aeries Account</small></p>
					<form id="login_form" method="POST" action="/login">
						<input type="text" id="user" name="user" placeholder="Email Address"><br>
						<input type="password" id="pass" name="pass" placeholder="Password"><br>
						<input type="submit" id= "submit" value="Log in!" class="btn btn-login">
					</form>			
				</div>
			</div>
		</div>

	<script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ url_for('static',filename='/bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>