<html>
<head>
	<title>Login | Aeries Mobile</title>
	
    <!-- Bootstrap -->
    <link href="{{ url_for('static',filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet" media="screen">
<style type="text/css"></style><style type="text/css"></style></head>
<body>
		<div class="header header2">
			<div id="black-bar"></div>
		</div>
		<div class="header header-main" style="display:none;">
			<div id= "logo-bar">
				<img src="{{ url_for('static',filename='img/nav-logo2.png') }}" />
				<a id= "drop-menu" class="dropdown-toggle" data-toggle="dropdown" href="#">
			        <i class="icon-cog"></i>
			    </a>
			    <ul class="dropdown-menu">
			    	<li><a href="#myModal" role="button" class= "info-button" data-toggle="modal">About</a></li>
			      	<li><a href= "{{ url_for('logout') }}">Logout</a></li>
			    </ul>					
			</div>
		</div>

		<div class="container-fluid">
			<div class="row-fluid">
				<div id="login-box">					
					<img id= "aeries-logo" src= "{{ url_for('static',filename='img/aeries-logo2.png') }}" />
					<p class= "muted"><small>Login to your Aeries Account</small></p>
					<form id="login_form" method="POST" action="/login">
						<input type="text" id="user" name="user" placeholder="Email Address"><br>
						<input type="password" id="pass" name="pass" placeholder="Password"><br>
						<input type="submit" id= "submit" value="Log in!" class="btn btn-login new_page_button">
					</form>	
					{% if error %}
						<div class="alert alert-error">
							Incorrect email/password!
						</div>
					{% endif %}	
				</div>
			</div>
		</div>

		<div class= "loading">
			Loading<span id="ellipsisSpan"></span>
		</div>

	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="{{ url_for('static',filename='script.js') }}"></script>
    <script src="{{ url_for('static',filename='/bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>